@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
    }
    @media (min-width:400px){
    .global-search {
    padding: 20px 0;
    text-align:center;
    }
    body {
    padding-top: 2%;
    padding-bottom: 15px;
    background-color: rgb(34,42,53);
    }

    .global-search {
    text-align:center;
    padding:10px;
    }
    .global-search .form-control {
    width:500px;
    }
    .global-search * {
    display:inline-block;
    margin-bottom:0;
    }
    }
    .topcorner{
    padding-left: 50px;
    position: static;
    background-color: rgb(34,42,53);
    }

    .topcorner p {
        font-size: 16px;
        font-family: 'Roboto';
        font-weight: bold;
        color: white;
    }

    .highlight { background-color: yellow }


    #logo {
        margin:auto;
        background-color: rgb(34,42,53);
        text-align:center;
    }

    #logo img {
        margin:auto;
    }

    #input {
        background-color: rgb(34, 42, 53);
        font-family: 'roboto';
        color: white;
        border: 3px solid white;
        border-radius: 3px;
        padding: 3px;
        width: 300px;
        height: 20px;
        margin: 5px;
        box-shadow: 3px 3px 0px 1px grey;
        transition: .4s 0s;
    }

    #input:hover {
        border: 3px solid rgb(165, 0, 33);
        box-shadow: 3px 3px 0px 1px rgb(0, 102, 153);
    }

    #autocomplete-1, #autocomplete-2, #party, #year{
        background-color: rgb(34, 42, 53);
        font-family: 'roboto';
        color: white;
        border: 3px solid white;
        border-radius: 3px;
        padding: 3px;
        width: 300px;
        height: 20px;
        margin: 5px;
        box-shadow: 3px 3px 0px 1px grey;
        transition: .4s 0s;
    }

    #autocomplete-1:hover, #autocomplete-2:hover, #year:hover{
        border: 3px solid rgb(165, 0, 33);
        box-shadow: 3px 3px 0px 1px rgb(0, 102, 153);
    }




    .btn {
        color: rgb(34, 42, 53);
        font-family: 'roboto';
        font-size: 18px;
        font-weight: bold;
        background-color: white;
        border: 3px solid white;
        height: 32px;
        width: 50px;
        margin-left: 15px;
        padding: 3px;
        box-shadow: 3px 3px 0px 1px grey;
        transition: .5s;
        transition-delay: 0s;

    }


    .btn:hover {
        color: rgb(34, 42, 53);
        font-family: 'roboto';
        font-size: 18px;
        font-weight: bold;
        background-color: grey;
        border: 2px solid white;
        height: 32px;
        width: 50px;
        margin-left: 15px;
        padding: 0px;
    }
    .btn:active {
        color: rgb(34, 42, 53);
        font-family: 'roboto';
        font-size: 18px;
        font-weight: bold;
        background-color: white;
        border: 2px solid grey;
        height: 32px;
        width: 50px;
        margin-left: 15px;
        padding: 0px;
    }
    .btn:visited {
        color: rgb(34, 42, 53);
        font-family: 'roboto';
        font-size: 18px;
        font-weight: bold;
        background-color: white;
        border: 2px solid grey;
        height: 32px;
        width: 50px;
        margin-left: 15px;
        padding: 0px;
    }
    .btn:focus {
        color: rgb(34, 42, 53);
        font-family: 'roboto';
        font-size: 18px;
        font-weight: bold;
        background-color: white;
        border: 2px solid grey;
        height: 32px;
        width: 50px;
        margin-left: 15px;
        padding: 0px;
    }
    #loader {
        border: 16px solid white;
        border-top: 16px solid rgb(0, 102, 153);
        border-right: 16px solid white;
        border-bottom: 16px solid rgb(165, 0, 33);
        border-left: 16px solid white;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 1s linear infinite;
        margin: auto;
        display: none;
    }

    @keyframes spin {
        0% { transform: rotate(0dg); }
        100% { transform: rotate(360deg); }
    }

    .project {
        position: absolute; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 700px; /* Full width (cover the whole page) */
        height: 500px; /* Full height (cover the whole page) */
        padding: 25px;
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        margin-top: 100px;
        background-color: rgb(222, 222, 222);
        border-radius: 10px;
        z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
        border: 7px solid grey;
        box-shadow: 14px 14px 2px black;
    }

    .project .x {
        cursor: pointer;
       position: absolute;
       right: 25;
      }

    .project h1 {
        font-family: 'rockwell';
        font-weight: bold;
        font-size: 44px;
        text-align: center;
        margin:auto;
        margin-top: 45px;
        margin-bottom: 30px;
        color: grey;
    }

    .project p 
    {
        font-family: 'roboto';
        font-size: 18px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin:auto;
        margin-bottom: 15px;
    }


    #title h1
    {
        color:white;
        font-family: roboto;
        font-weight: bold;
        text-shadow: 2px 2px 1px black;
    }
    .card-title
    {
        font-family: rockwell;
        font-weight: bold;
    }
    #top0 {
        
        padding: 12px;
    }

    #top3 {
        border: 3px solid white;
        box-shadow: 15px 15px 5px black;
    }
    .card-action{
        margin: 5px;
    }
    .card-action a {
        text-align: center;
        font-family: rockwell;
        font-weight: bold;
    }

    .card.horizontal {
        border: 7px solid white;
        box-shadow: 16px 16px 3px  black;
        min-height: 300px;
        background-color:lightgrey;
        transition: .6s 0s;
    }

    .card.horizontal:hover {
        border: 7px solid rgb(165, 0, 33);
        box-shadow: 16px 16px 3px  black;
        min-height: 300px;
        background-color: white;
    }

    .card.horizontal:hover .card-image .profile img {
        border: 8px solid rgb(0, 102, 153);
    }


    .card-image {
       width:400px;
    }

    .card-image .profile {
        margin-left:15px;
        position:relative;
        top:50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .card-image .profile img {
        border: 8px solid white;
        box-shadow: 5px 5px 3px black;
        transition: .6s 0s;
    }


    .show {
        width: 200px;
        height: 30px;
        background-color: lightgrey;
        text-align: center;
        margin: auto;
        border: 3px solid rgb(34, 42, 53);
        color: rgb(34, 42, 53);
        transition: .5s 0s;
        border-radius: 3px;
        margin-bottom: 15px;
      }

    .show p {
        padding: 3px;
        font-family: 'roboto';
        font-weight: bold;
        font-size: 14px;
      }

    .show:hover {
        background-color: white;
        cursor: pointer;
    }

    .sim-content {
        margin: auto;
        padding: 10px;
        font-family: "roboto";
    }

    .sim-content a {
        border: 2px solid rgb(34,42,53);
        background-color: lightgrey;
        color: rgb(34,42,53);
        width: 100px;
        height: 28px;
        line-height: 2.0;
        transition: .3s 0s;
        margin-top: 8px;
    }

    .sim-content a h5 {
        margin: auto;
        height: 25px;
        text-align: center;
        padding: 5px;
    }

    .sim-content a:hover {
       background-color: white;
    }

    .step-links a{
    color: #4285F4;
    }
