<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">

    </head>
    <body>
        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </div>
        <form class="form-inline global-search">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                C
                <span style="color: #EA4335; ">S</span>
                <span style="color: #FBBC05; ">4</span>
                3
                <span style="color: #34A853; ">0</span>
                <span style="color: #EA4335; ">0</span>
            </h1>
            
            <br><br>
            
            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Your Input">
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}  
                <br>                   
                
                
                {{d}}
                <!-- <div class="row">
                    
                    <div class = "container my-auto">
                    <div class="col s12">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                        <span class="card-title">{{d.speaker}}</span>
                        <p>{{d.speech_text}}</p>
                        </div>
                        <div class="card-action">
                        <a href="#">Read More</a>
                        </div>
                    </div>
                    </div>
                    </div>
                </div> -->

            <br>
            {% endfor %}
        {% endif %}
        </form>
    </body>

</html>



