<html lang = "en">
    <head>
        <title>Politician Quotes</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,400i,900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script src = https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js> </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.27/jquery.autocomplete.min.js"></script>

        <script type="text/javascript">
          $(document).ready(function(){	
          var arrayReturn = [];
          $.ajax({
            success: function (data) {
              var topics = [
                 { value: 'health care'},
                 { value: 'gun violence'},
                 { value: 'gun control'}, 
                 { value: 'gun rights'}, 
                 { value: 'Russia'},
                 { value: 'tax reform'},
                 { value: 'medicare for all'},
                 { value: 'freedom dividend'},
                 { value: 'climate change'}, 
                 { value: 'immigration'}
              ];

              var politicians = [
                  {value: 'Donald Trump'}, 
                  {value: 'Joe Biden'}, 
                  {value: 'Hillary Clinton'}, 
                  {value: 'Bill Clinton'}, 
                  {value: 'Barack Obama'}, 
                  {value: 'Bernie Sanders'}, 
                  {value: 'George W. Bush'}, 
                  {value: 'Elizabeth Warren'}
              ];
              //send parse data to autocomplete function
              loadSuggestions(topics, politicians);
              
            }
          });
          function loadSuggestions(topics, politicians) {
            $('#autocomplete-1').autocomplete({
              lookup: topics,
              onSelect: function (suggestion) {
                $('#selected_option').html(suggestion.value);
              }
            });
            $('#autocomplete-2').autocomplete({
                lookup: politicians, 
                onSelect: function (suggestion) {
                    $('#selected_option').html(suggestion.value); 
                }
            })
          }
          });
        </script>

        <style> 
        .autocomplete-suggestions { border-radius: 3px; border: 3px solid white; background: rgb(34,42,53); overflow: auto; transition: .4s 0s}
        .autocomplete-suggestion { font-family: 'roboto'; color:white; padding: 2px 5px; border: 3px solid rgb(34, 42, 53); white-space: nowrap; overflow: hidden; transition: .1s 0s}
        .autocomplete-suggestion:hover {cursor: pointer; background: rgb(34,42,53); border: 3px solid white; border-radius: 3px}
        .autocomplete-selected { background: #F0F0F0;}
        .autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
        .autocomplete-group { padding: 2px 5px; }
        .autocomplete-group strong { display: block; border-bottom: 1px solid #000; }



        .highlight { 
            background-color: yellow;
        }

        .highlightbtn{
            display: block;
            margin:auto;
            color: rgb(34, 42, 53);
            font-family: 'roboto';
            font-size: 18px;
            font-weight: bold;
            background-color: white;
            border: 3px solid white;
            height: 32px;
            width: 400px;
            padding: 3px;
            box-shadow: 3px 3px 0px 1px grey;
            transition: .5s;
            transition-delay: 0s;
        }

        </style>
      

    </head>
    <body>
      <div>
        <a style = "position: absolute; right: 0; padding-right: 50px; font-size: 22px; font-family: 'Roboto'; font-weight: bold; color: white;  text-decoration: underline;" href = "/v2"> Prototype 2 </a>
      </div>
      <div> 
        <a style = "position: absolute; right: 100; padding-right: 200px; font-size: 22px; font-family: 'Roboto'; font-weight: bold; color: white;  text-decoration: underline;" href = "v1"> Prototype 1 </a>
      </div> 
        <div class="topcorner">
            <div id = "about" > <p onclick="infoOn()" style="color: white; font-size:22px; cursor:pointer; font-family:rockwell; font-size:22px; display:inline"> About </p></div>
        </div>
        
      
        <div id = "logo">
            <a href = "/"> <img src="/static/Politician Quotes.png" width="1054" height="608"> </img> </a>
        </div>
        <form class="form-inline global-search">
            
            
            <br><br>
            
            <div class="form-group ui-widget">
                <input id="autocomplete-1" type="text" name="topic" class="form-control topic" placeholder="Input Topic" onchange = "saveTopic(this.value)">
                <input id="autocomplete-2" type="text" name="politicians" class="form-control" placeholder="Input Politicians">
            </div>
            <button type="submit" class="btn" onfocusin="loaderOn()" onfocusout="loaderOff()"> <img src="/static/search.png" width="20" height="20" alt="Go"></img> </button>
        </form>
        <div id = "loader-wrapper">
          <div id = "loader"></div>
         </div>
        <div class = "project" id = "info">
          <img class = 'x' src="/static/x.png" height = '25' weight = '25' onclick = "infoOff()" />
          <h1>What is Politician Quotes?</h1>
          <p>Politician Quotes is an app that is designed to help uninformed voters or researchers find out what some politicians have said on pressing topics.</p>
          <p>This project was designed and implemented by Arzu Mammadova (am2692), Aleah Markovic (adm265), Matthew Prince (mp836), and Zhaopeng Xu (zx273).</p>
          <p>We made this system for the final project of CS/INFO 4300 at Cornell University, taught by Professor DNM.</p>
        </div>

        <button class = "highlightbtn" onclick = 'highlight()'>Highlight Topics</button>
        <form id = "title" class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}  
                <br>      
                <div class = "container my-auto">
                <div class="col s12">
                    <h2 style = "color: white; font-family: rockwell; font-weight:bold" class="header">{{d.speaker}}</h2>
                    <div class="card horizontal">
                            <div class="card-image">
                                <div class="profile"><img style = "border-radius: 50%;" src={{d.image}}></div>
                            </div>
                      <div class="card-stacked">
                        <div class="card-content">
                            <h3> {{d.debate_name}}</h3>
                            <h3>{{d.debate_date}} </h3>
                            <br><br>
                          <p class = 'speech'>{{d.speech}}</p>
                        </div>
                        <div class="card-action">
                          <a href={{d.link}}><h3>Read More</h3></a>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
            <br>
            {% endfor %}
            {% else %}
            <h1>{{output_message}}</h1>
        {% endif %}
        </form>

        <script>

        function saveTopic(value) {

            localStorage.setItem("topic", value);
            // location.reload();
            // return false;
        }

    

        let flag = true;

        function highlight() {

            console.log(flag);
            const outputs_html = document.getElementsByClassName('speech');
            let keyWord =localStorage.getItem("topic");
            const outputs = [...outputs_html];

            if (keyWord.includes(',')) {
                keyWord = keyWord.split(" ").join(""); 
                const keywords = keyWord.split(","); 
                outputs.forEach((item) => {
                    keywords.forEach((keyword) => {
                        const regexRule = new RegExp(keyword, 'gi');
                        const regexRule_undo = new RegExp(`<mark class="highlight">${keyword}</mark>`, 'gi')
                        item.innerHTML = flag ? item.innerHTML.replace(regexRule, `<mark class = "highlight">${keyword}</mark>`) : item.innerHTML.replace(regexRule_undo, keyword);
                    })
                })
                flag = !flag; 
    
            }
            else {
                const regexRule = new RegExp(keyWord, 'gi');
                const regexRule_undo = new RegExp(`<mark class="highlight">${keyWord}</mark>`, 'gi')
                outputs.forEach((item) => {
                    
                    
                    item.innerHTML = flag ? item.innerHTML.replace(regexRule, `<mark class = "highlight">${keyWord}</mark>`) : item.innerHTML.replace(regexRule_undo, keyWord);
                   
            })

                flag = !flag; 
             
            }
            
           
                   }
      
        
        function loaderOn() {
            document.getElementById("loader").style.display = "block";
          }
        function loaderOff() {
            document.getElementById("loader").style.display = "none";
          }
        function infoOn() {
            document.getElementById("info").style.display = "block";
          }
        function infoOff() {
            document.getElementById("info").style.display = "none";
          }

        </script>

    </body>

</html>

