<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,400i,900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">

    </head>
    <body>
        <div class="topcorner">
            <p>Arzu Mammadova: am2692, Aleah Markovic: adm265 <br> Matthew Prince: mp836, Zhaopeng Xu: zx273</p>
        </div>
        <div id = "logo">
            <img src="/static/Politician Quotes.png" width="1054" height="608"> </img>
        </div>
        <form class="form-inline global-search">
            
            
            <br><br>
            
            <div class="form-group">
                <input id="input" type="text" name="topic" class="form-control" placeholder="Input Topic">
                <input id="input" type="text" name="politicians" class="form-control" placeholder="Input Politicians">
            </div>
            <button type="submit" class="btn"> <img src="/static/search.png" width="20" height="20" alt="Go"></img> </button>
        </form>
        <form id = "title" class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}  
                <br>                   
                
                
                    <div class="row">
                    
                    <div id = "top0" class = "container my-auto">
                    <div id = "top1" class="col s12">
                    <div id = "top2" class="card blue-grey darken-1">
                        <div id = "top3" class="card-content white-text">
                        <span class="card-title">{{d.speaker}}</span>
                        <p>{{d.speech}}</p>
                        
                        <div class="card-action">
                        <a href = {{d.link}}>Read More</a>
                        </div>
                        </div>
                    </div>
                    </div>
                    </div>
                </div> 

            <br>
            {% endfor %}
        {% endif %}
        </form>
    </body>

</html>



